{% block navbar %}
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li><a href="{{ path('store_frontend_accueil') }}">Home</a></li>
                    <li><a href="">Catégories</a></li>
                    <li><a href="{{ path('store_frontend_product_new') }}">Produits</a></li>
                    <li><a href="{{ path('store_frontend_contact') }}">Contact</a></li>
                    <li><a href="{{ path('store_frontend_concept') }}">Concept</a></li>
                    <li><a href="{{ path('store_frontend_mention') }}">Mention Légale</a></li>
                </ul>
            </div>
        </div>
    </nav>
{% endblock %}